.footer {
  display: flex;

  height: 20vh;
  padding: 4rem 0;
  color: white;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.github {
  width: 40px;
  background-color: white;
  border-radius: 15px;
  margin-left: 20px;
}
.linkedin {
  width: 40px;

  border-radius: 15px;
  margin-left: 20px;
}
