.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  top: 0;
  font-size: 14px;
  padding: 10px 100px;
  color: white;
  font-weight: 400;
  z-index: 1;
}

.col {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 5px;
  width: 5px;
  height: 25px;
}

.items {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.item {
  margin-right: 20px;
  color: white;
  transition: color 0.3s ease-in-out;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  &:hover {
    color: red;
  }
}

.circle {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  bottom: -5px;
  left: 0;
  right: 0;

  margin: 0 auto;
  background-color: red;
}

.search {
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  svg {
    height: 25px;
  }
}

.input {
  transform-origin: right center;
  position: absolute;
  right: 0px;
  padding: 5px 10px;
  padding-left: 40px;
  z-index: -1;
  color: white;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid white;
}
