.movieimg {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  object-fit: fill;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
}
.infocontainer {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.movieinfo {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: flex-start;
  justify-content: flex-start;
}
.favourite {
  padding: 0 10px;
  cursor: pointer;
}
.title {
  font-size: 1.3em;
}
