.banner {
  height: 100vh;
  width: 100vw;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;

  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    url(https://res.cloudinary.com/dwbsxpk82/image/upload/v1640179209/portfolio/kki2so836ji1ptws2epr.jpg);
  background-size: cover;
}
.slider {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}
.gridcontainer {
  display: flex;
  width: 100%;
  padding: 0 10vw;
  justify-content: space-evenly;
}

.box {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 25%;

  font-size: 12px;
}

.title {
  margin-top: 100px;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.noresult {
  color: white;
}
